#home {
    background: url('../images/face-darkened.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand > img {
	height: 50px;
	width: 50px;
	margin-top: -15px;
}

.nav > li > a > i {
	margin-right: 7px;
}

.nav > li {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.banner-text {
	padding-top: 9em;
	text-align: center;
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 4.5em;
	padding-bottom: 1em;
	color: #007FFF;
	text-shadow: 2px 2px black;
}

.typed-text {
	display: inline-block;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 600;
	color: #007FFF;
	font-size: 3em;
	text-shadow: 2px 2px black;
}

.typed-cursor{
    opacity: 1;
    font-size: 3em;
    color: #007FFF;
    font-weight: 600;
	padding-bottom: 2.5em;
	text-shadow: 2px 2px black;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
} 

@import "compass/css3";

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}

.banner-text > .fa-2x > .fa {
	margin-top: 1em;
	cursor: pointer;
}

.hello {
	height: 16em;
	background-color: white;
	text-align: center;
	box-shadow: 5px 2px 2px black;
}

.description {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 2em;
	font-weight: 600;
	color: #104E8B;
	width: 100%;
	margin: 0 auto;
	padding-top: 3.5em;
}

.portfolio {
	text-shadow: 1px 1px black;
	padding-top: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 1em;
	color: white;
}

.work {
	background-color: #007FFF;
}

.col-md-4 {
	font-family: 'Pontano Sans', sans-serif;
	text-align: center;
	padding-bottom: 1.5em;
	background-color: #007FFF;
}

.col-md-4 > a > img {
	border-radius: 10px;
	cursor: pointer;
}

.sample > a > img:hover {
	border: 5px solid #66CD00;
	transition: 0.7s ease-in-out;
}

.col-md-4 > h4 {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 800;
	padding-top: 0.25em;
	font-size: 1.5em;
	color: white;
	text-shadow: 1px 1px black;
}

.col-md-4 > p {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1em;
	font-weight: 600;
	font-size: 1em;
	padding-top: 0.25em;
	padding-bottom: 1em;
	color: white;
	text-shadow: 1px 1px black;
}

#about {
	background-color: white;
}

#about > h1 {
	text-shadow: 1px 1px black;
	padding-top: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 1em;
	color: #104E8B; 
}

#about > img {
	border-radius: 50px;
	background-color: white;
	height: 250px;
	width: 350px;
	margin: 0 auto;
}

#about > p {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	padding-bottom: 1em;
	line-height: 1.5;
	text-align: center;
}

.picture,
.bio {
	margin-bottom: 1.5em;
}

#contact {
	background-color: black;
}

#contact > h1 {
	text-shadow: 1px 1px black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 2.2em;
	letter-spacing: 2px;
	color:  white;
}

.contact-form > h3 {
	font-family: 'Pontano Sans', sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-bottom: 0.5em;
} 

.form-name,
.form-subject {
	margin-bottom: 1.3em;
	border-radius: 15px;
	height: 2.5em;
	margin-left: 1.5em;
	width: 80%;
	font-family: 'Pontano Sans', sans-serif;
}

.contact-form > button {
	margin-bottom: 1.3em;
	border-radius: 15px;
	height: 3.5em;
	margin-left: 1.5em;
	width: 80%;
	padding-top: 0.8em;
	border: none;
	background-color: #007FFF;
	-webkit-transition: background-color 0.7s ease-in-out;
    -moz-transition: background-color 0.7s ease-in-out;
    -o-transition: background-color 0.7s ease-in-out;
	transition: background-color 0.7s ease-in-out;
}

.contact-form > button:hover {
	background-color: #66CD00;
}

.contact-form {
	text-align: center;
}

.form-message {
	height: 12em;
	margin-bottom: 1.3em;
	border-radius: 15px;
	margin-left: 1.5em;
	width: 80%;
	font-family: 'Pontano Sans', sans-serif;
}

.social-media > h3 {
	color: white;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.2;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

.social-media > a > i {
	color: white;
	cursor: pointer;
	margin-left: 0.5em;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-pinterest-p,
.fa-google-plus,
.fa-instagram,
.fa-github-alt {
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

.fa-facebook:hover {
	color: #3B5998;
}

.fa-twitter:hover {
	color: #4099FF;
}

.fa-linkedin:hover {
	color: #007BB6;
}

.fa-pinterest-p:hover {
	color: #C92228;
}

.fa-google-plus:hover {
	color: #DD4B39;
}

.fa-instagram:hover {
	color: #517FA4;
}

.fa-github-alt:hover {
	color: #551A8B;
}

footer {
	background-color: #262626;
	height: 3em;
	text-align: center;
}

footer > p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.5em;
	padding-top: 2em;
	display: inline-block;
	margin-left: 30px;
}

@media (max-width: 1050px) and (min-width: 992px) {
	#about > img {
		float: none;
	}
}

@media (max-width: 1050px) {
	#about > p {
		text-align: center;
		margin: 0 auto;
		width: 98%;
	}
}

@media (max-width: 992px) {

	#about > img {
		margin: 0 auto;
		height: 300px;
		width: 350px;
	} 

	.social-media > a > i {
		padding-left: 20px;
	}

	.sample > a > img {
		margin: 0 auto;
	}

	#about > p {
		font-size: 1.2em;
		text-align: center;
	}

	.social-media > h3 {
		font-size: 1.2em;
	}

	.contact-form {
		padding-top: 3em;
	}
}















